@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;500&family=Roboto+Mono:wght@300&family=Roboto+Slab&family=Roboto:ital@1&display=swap);

body{
  font-family: 'Poppins', sans-serif;;
}

 /* Navbar */
.heading{
  color: #3A3A3A;
  margin-left: 75px;

}
nav
{
   display: flex; 
  justify-content: space-around;
  margin-top: 20px;
}
nav a  {
  text-decoration: none;
  color: #3A3A3A;
  font-size: 1em;
  margin-right: 15px;
}


/* influender */
section{
  display: flex;
} 

.main-camera {
      width: 100px;
      height: 100px;
      transition:  width 5s transform 6s;
     
}
.main-camera:hover{
      width: 200px;
      height: 200px;
      transform: rotate(90deg);
}




.section-title{
  text-align: center;
}
.influender{
    background-color: #FFFFFF;
    color: #3A3A3A;
    width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}

.text-center{
  text-align: justify;
}
.link-button{
  text-decoration: none;
  background-color: #E02C6D;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 16px;
}

/* logo section */


section  .logo{
  text-align: center;
  margin-left:380px ;
  margin-right: 220px;
  margin-top: 150px;
  margin-bottom: 20px;
  word-spacing: 15px;
}
/* ------------
popular collection
--------------- */
.section-title{
  color: #3A3A3A;
  font-size: 24px;
  margin-top: 3px;
  text-align: center;
  margin-left:500px ;
  margin-right: 300px;
  text-decoration: black;
}


.Popular-Collection{
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  border-radius: 15px;
  margin-left: 20%;
  margin-top: 1%;
}

.fa-star.filled{
  color: #FFC014;
}
.fa-star.empty{
  color: #AEAEAE;
}


.arrow-clr a{
  text-decoration: none;
  color: #E02C6D ;
  font-size: 1em;
  margin-right: 25px;
}



/* Log in form */

.form h2{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 9px 15px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin-top: 15px;
  margin-left: 80px;
  margin-right: 30px;

}

img.avatar {
  width: 25%;
  border-radius: 80%;
}

.container {
  padding: 55px;
  margin-top: 5px;
  margin-left: 80px;
  margin-right: 50px;
}

span.psw {
  float: right;
  padding-top: 12px;
}



/* footer */

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(8, 8, 41);
  color: white;
  text-align: center;
}

 .icon .fa-instagram empty{
  color: #FFFFFF;
}



/* Media queries */



/* Mobile Device */

@media Only screen and (max-width:688px) {
  
  .container{
    width: 100%;
  }
  .Popular-Collection, .logo, .form, .courses{
    grid-template-columns: repeat(1,1fr);
  }

  .Popular-Collection,.logo, .form, .courses{
    flex-direction: column;
  }
}

/* Tablet Devices */

@media only screen and (min-width:688px) and (max-width:992px) {
  .container{
    width: 100%;
  }
  .Popular-Collection,.logo, .form, .courses{
    grid-template-columns: repeat(2,1fr);
  }
  courses{
    grid-template-columns: repeat(1,1fr);
  }
  
}


@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}



@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }